#audiopage-page {
    .audio__source-container,
    .audio__zone-button-container,
    .audio__menu-list{
         border: 1px solid hsl(0, 36%, 44%);
         border-radius: 10px;
         box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.1);
         justify-content: center;
         align-items: center;
         padding: 5px;        
    } 
    .audio__source-container{
        .ch5-button {
            //margin: 5px;
            //border-style: solid;
            //border-color: #0091ea;
            //color: #ffffff;
            //background-color: #c1cacf;
            //border-width: 0;
          }
          .ch5-button--icon {
            font-size: 30px;
            //color: #797518;
            opacity: 1;
            padding-right: 10px;
          }
          .ch5-button--pressed {
            color: #f0fff0;
            background-color: #587080c5;
            border-color: #0091ea;
          }
    }

    .audio__zone-sourceSelection{

        .ch5-select{
           
            .ch5-select__panel__items{
              
            }
            .ch5-select__panel__item{
               
    
            }
            .ch5-select__combo{
             
            }
        }

    }
    
        .audio__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 100%;
       }

       .audio__zone-button-container{
            max-height: 800px;
       }
       
       .audio__menu-list{
            display: block;
            max-height: 800px; 

        }

       .audio__source-container{
            min-width: 100%;
            min-height: 180px;

            .audio__source-list{               
                justify-content: center;
                align-items: center;
            }
            .audio__controls{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
            }
       }
       
}


