

<template id="audiocontrols-widget"> 
    <div class="container audiocontrols-widget"> <!--audiocontrols-widget-->
        <div class="row"> <!--audio_zone-header-->
          <div class="col"> <!--audio__zone-label-->
            <ch5-jointotext-string receivestatevalue="Audio.ControlList[{{idx}}].ZoneLabel"> </ch5-jointotext-string>
          </div> 
          <div class="col-2"> <!--audio__zone-value-->
            <ch5-jointotext-string receivestatevalue="Audio.ControlList[{{idx}}].ZoneVolumeValue"> </ch5-jointotext-string>
          </div> 
          <div class="col"> <!--audio__zone-sourceSelection-->
            <!--receivestatevalue="Audio_Zone.Contract[{{idx}}].source"-->
                <ch5-button id="btn_id" label="Source" sendeventonclick="Audio_Zone.Contract.Modal"
                  receivestatesgiconstring="Audio.ControlList[{{idx}}].SelectedSourceIconClass" stretch="width" type="success"></ch5-button>
        </div>
        <div class="row">
            <div class="col text-center border-bottom-5 ">
              
              <ch5-jointotext-string receivestatevalue="Audio.ControlList[{{idx}}].SelectedSourceLabel"> </ch5-jointotext-string>
            </div>            
        </div>
        <div class="row mt-2"> <!--audio__zone-button-container-->
          <div class="col">
          <!--Mute Button-->
          <ch5-button
            iconclass="fas fa-volume-xmark"
            sendEventOnClick="Audio.ControlList[{{idx}}].Mute"
            receiveStateSelected="Audio.ControlList[{{idx}}].MuteState" type="danger">
          </ch5-button>
  
          <!--Master Check box Button-->
          <ch5-button
            checkboxshow="true"
            label="Master"
            sendEventOnClick="Audio.ControlList[{{idx}}].Master"
            receiveStateSelected="Audio.ControlList[{{idx}}].MasterState" type="secondary">
          </ch5-button>
  
          <!--Valume Down Button-->
          <ch5-button
            iconclass="fas fa-volume-low"
            sendEventOnClick="Audio.ControlList[{{idx}}].VolumeDown"
            receiveStateSelected="Audio.ControlList[{{idx}}].VolumeDownState"
          >
          </ch5-button>
  
          <!--Valume Up Button-->
          <ch5-button
            iconclass="fas fa-volume-high"
            sendEventOnClick="Audio.ControlList[{{idx}}].VolumeUp"
            receiveStateSelected="Audio.ControlList[{{idx}}].VolumeUpState">
          </ch5-button>
        </div>
      </div>
      </div>
</template>
