<!-- 
   
-->

<section id="videopage-page" class="details-container" aria-labelledby="Videopage">

    <template id="TV__power_list-widget">
        <div class="tv__power-warpper">
            <div class="tv__power-header"> <!--receivestatevalue="TvPowerList.Contact[{{idx}}].label"-->
                <ch5-jointotext-string value="Display"  > </ch5-jointotext-string>                 
            </div>
            <div class="tv__power-content">
                <ch5-button 
                iconclass = "fas fa-power-off"
                
                sendEventOnClick="TvPowerList.Contact[{{idx}}].click"
                receiveStateSelected="TvPowerList.Contact[{{idx}}].selected" ></ch5-button>
            </div>
            
        </div>
        
    </template>
    
<div class="container-fluid">
        <div class="row">
            <div class="col-11 tv__listSection">
                <ch5-subpage-reference-list
                    widgetid="tvcontrols-widget" orientation="vertical" columns="5" numberofitems="50" centeritems="false" scrollbar="true"  
                    indexid="{{idx}}"  >
                </ch5-subpage-reference-list>
            </div>
            <!--Video Preset Control-->
        <div class="col tv__listButtonSection">
            <ch5-button-list
              id="ch5-button-list_id"
              orientation="vertical"
              scrollbar="false"
              buttontype="info"
              endless="false"
              numberOfItems="6"
              rows="1"
              buttonShape="rounded-rectangle"            
              centeritems="false"
              
              columns="1"
              indexId="idx"
              loadItems="visible-only"
              scrollToPosition="0"
              buttonreceivestatelabel="Preset-Label-{{idx}}">       
          </div>
        </div>

       

    <div class="row mt-2 tv__listButtonSection">  
        <div class="col-12">
          <ch5-button-list
          id="ch5-button-list_id"
          orientation="horizontal"
          scrollbar="false"
          centerItems="true"
          endless="false"
          numberOfItems="10"
          indexId="idx"
          buttonType="success"
          buttonHAlignLabel="center"
          buttonVAlignLabel="middle"
          buttonIconPosition="first"
          buttonShape="rounded-rectangle"          
          buttonReceiveStateSelected="Source-selected-{{idx}}"
          buttonReceiveStateIconClass="Source-icon-{{idx}}"
          buttonreceivestatelabel="Source-Label-{{idx}}"
          buttonSendEventOnClick="Source-click-{{idx}}"
          contractName=""
          stretch="both"
          contractItemLabelType="none"
          useContractForEachButtonSelection="false"
          buttonReceiveStateSGIconNumeric=""
          buttonReceiveStateSGIconString=""
          buttonSgIconTheme="icons-lg"
          loadItems="visible-only"
          clickHoldTime="1500">
        </ch5-button-list>
        </div>     
      </div>
    </div>


<!--
</div>
    
    <div>
        <ch5-template templateId="pagedisplay-widget" context="NAME:Video"></ch5-template>
    </div>
-->

</section>