
#videopage-page {
    .tv__listButtonSection,
    .tv__listSection{
        border: 1px solid hsl(0, 36%, 44%);
        border-radius: 10px;
        box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.1);    
        justify-content: center;    
    }
    .tv__listSection{
        max-height: 815px;
    }
    .ch5-button--icon {
        font-size: 30px;
        //color: #797518;
        opacity: 1;
        padding-right: 10px;
      }
   
    .ch5-button--pressed{
        color: rgb(121, 160, 118);       
        .ch5-button--icon{
            color: rgb(0, 255, 76);
            font-size: 25px;           
        }
    }
    .b-red{
        //margin:20px;
        border:3px solid #004A80;
        }
        
}
