<!-- 
   
-->

<section id="videopage-page" class="details-container" aria-labelledby="Videopage">

<div class="container-fluid">
        <div class="row gap-2">
            <div class="col-11 tv__listSection">
                <ch5-subpage-reference-list id="VideoZoneControlList"
                    widgetid="tvcontrols-widget" orientation="vertical" columns="5" numberofitems="50" scrollbar="false" loaditems="all"
                    indexid="idx2">
                </ch5-subpage-reference-list>
            </div>
            <!--Video Preset Control-->
        <div class="col tv__listButtonSection ">
            <div class="row">
                <div class="bg-light bg-gradient mh-25" ><p>Controls</p></div>
            </div>
            <div class="row">
                <ch5-button-list
              id="VideoPresetList"
              orientation="vertical"
              scrollbar="false"
              buttontype="default"
              endless="false"
              numberOfItems="6"         
              buttonShape="rounded-rectangle"            
              centeritems="false"
              contractname="Contract"
              indexId="idx2"
              loadItems="all"
              buttonReceiveStateSelected="Video.PresetList[{{idx2}}].SelectedState"
              buttonReceiveStateIconClass="Video.PresetList[{{idx2}}].IconClass"
              buttonreceivestatelabel="Video.PresetList[{{idx2}}].Name"
              buttonSendEventOnClick="Video.PresetList[{{idx2}}].Selection">
            </div>
            <br/>
              <div class="row displayPower">               
                <ch5-button id="displayPowerAll"
                label="Power"
                iconclass="fas fa-power-off"
                size="large"
                sendeventonclick="btn_id_clicked" type="warning">
            </ch5-button>
              </div>
              
          </div>
         
        </div>      

    <div class="row mt-2 tv__listButtonSection">  
        <div class="col-12">
          <ch5-button-list
            id="VideoSourceList"
            orientation="horizontal"
            scrollbar="false"
            centerItems="true"
            endless="false"
            numberOfItems="11"
            indexId="idx2"
            buttonType="success"
            buttonHAlignLabel="center"
            buttonVAlignLabel="middle"
            buttonIconPosition="first"
            buttonShape="rounded-rectangle"          
            buttonReceiveStateSelected="Video.SourceList[{{idx2}}].SelectedState"
            buttonReceiveStateIconClass="Video.SourceList[{{idx2}}].IconClass"
            buttonreceivestatelabel="Video.SourceList[{{idx2}}].Name"
            buttonSendEventOnClick="Video.SourceList[{{idx2}}].Selection"
            stretch="both"         
            loadItems="visible-only"
            clickHoldTime="1500">
        </ch5-button-list>
        </div>     
      </div>
    </div>


<!--
</div>
    
    <div>
        <ch5-template templateId="pagedisplay-widget" context="NAME:Video"></ch5-template>
    </div>
-->

</section>