$fontFamily: sans-serif;

.lightcontrolwidget-widget {
  background: rgba(255, 255, 255, 0.777);
  //border: 1px solid hsl(0, 36%, 44%);
  border-radius: 10px;
  box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.1);
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 350px;
  //display: inline-block;

  .lightCardTitle {
    margin: 5px;
    color: hsl(0, 0%, 20%);
    display: flex;
    
    justify-content: space-between;
    
    ch5-jointotext-string{
      padding: 5px;
      font-family: $fontFamily;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .lightCardSlider {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
     i{
      color: #b68a25b0;
      font-size: 16px;
     }

  }
  .lightCardSlider
  .lightCardButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .lightCardButton {

    margin: 5px;
    text-align: center;
    .ch5-button {
      margin: 5px;
      border-style: solid;
      border-color: #0091ea;
      color: #ffffff;
      background-color: #c1cacf;
      border-width: 0;
    }
    .ch5-button--icon {
      font-size: 30px;
      color: #797518;
    }
    .ch5-button--pressed {
      color: #f0fff0;
      background-color: #587080c5;
      border-color: #0091ea;
    }
  }
}
